<%= form_for(@accountreq) do |f| %>
  <% if @accountreq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accountreq.errors.count, "error") %> prohibited this accountreq from being saved:</h2>

      <ul>
      <% @accountreq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
